@import 'variables';
.container-fluid{
        position: absolute;
        margin-top: -93px;
        width: 100%;
        background: url('../../images/wood2.jpg') no-repeat;
        background-size: cover;
        z-index: -200;
    .cvContainer{
        margin-bottom: 5%;
        border-radius: 10px;
        padding: 10px;
        -webkit-box-shadow: -5px 3px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -5px 3px 13px 0px rgba(0,0,0,0.75);
        box-shadow: -5px 3px 13px 0px rgba(0,0,0,0.75);
        background-color: white;
        color: black;
        h1{
            line-height: 50px;
        }
        h4{
            text-align: center;
        }
        h3{
            float: left;
            margin-bottom: 7%;
        }
        .arrowH{
            width: 25%;
            padding: 6%;
            background-color:rgb(187, 176, 176);
            border-radius: 50%;
            margin-top: 15%;
            // float: right;
        }
        .infoP{
            font-size: 13px;
        }
        .para1,.para2,.para3{
            background-color:rgb(226, 216, 203);
            margin-top: 4%;
        }
        .cvContact{
            background-color:rgb(187, 176, 176);
            p{
                font-size: 10px;
                text-align: center;
            }
            .iconC{
                text-align: center;
                margin: 4%;
            }
            .iconF{
                text-align: center;
                margin: 7%;
            }
        }   
    }
        .containerlogo{
            img{
            width: 80%;
            float: right;
            border-radius: 30%;
            }
        }
}
@media only screen and (max-width: 500px){
    .container-fluid{
        .cvContainer{
            .arrowH{
                width: 5%;
                padding: 1%;
            }  
        }
       
    }  
}
